name: Auto merge test

on:
  schedule:
    - cron: "30 05 * * 0-4"

jobs:
  auto-merge-main-to-deploy:
    environment:
      name: review
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: develop

      - name: Create Pull Request from develop to main
        continue-on-error: true
        id: create-pr-main
        env:
          GH_TOKEN: ${{ secrets.AUTO_DEP_TOKEN }}
        run: |
          PULL_REQUEST_URI_TAURUS=$(gh pr create -B main -t "【自動実行】main" -b "")
          echo "::set-output name=PULL_REQUEST_URI_TAURUS::$PULL_REQUEST_URI_TAURUS"

      - name: Merge Pull Request to main
        continue-on-error: true
        env:
          GH_TOKEN: ${{ secrets.AUTO_DEP_TOKEN }}
        run: |
          gh pr merge ${{steps.create-pr-main.outputs.PULL_REQUEST_URI_TAURUS}} --merge